.ms-icon {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: rem(24);
  height: rem(24);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
 
  &--small {
    width: rem(12);
    height: rem(12);
  }

  &--large {
    width: rem(36);
    height: rem(36);
  }

  &--twitter {
    background-image: url('./../../assets/svg/twitter.svg');
  }

  &--telegram {
    background-image: url('./../../assets/svg/telegram.svg');
  }

  &--discord {
    background-image: url('./../../assets/svg/discord.svg');
  }

  &--medium {
    background-image: url('./../../assets/svg/medium.svg');
  }
}
