.ml-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: rem(40) rem(30) rem(38);
  background-color: $ui_color_card_bg;
  border: rem(1) solid $ui_color_card_border;
  border-radius: rem(20);
  box-shadow: 
    inset 0 rem(2) rem(20) 0 $color_darkerTeal,
    0 rem(15) rem(80) 0 $ui_color_card_shadow;
  text-align: center;
}